body{
    background-color: #fffeb5;
}

.align{
    text-align: center;
}

.menu{
    padding: 50px;
    text-decoration: none;
    color: black;
    font-family: 'milkyBoba';
}
a:hover{
    color:white;
}

.title{
    text-align: center;
    color: black;
    font-size: 50px;
    font-family: 'vintage', Fallback, sans-serif; 
}

.me{
    text-align: center;
    font-family: 'vintage';
    margin-top: 60px;
}

.about{
    display: grid;
    grid-template-columns: 400px 300px 400px;
    justify-content: space-between;
    
  
}

.first{
    font-family:'Courier New', Courier, monospace;
    padding-inline-start: 20px;
   margin-left: 30px;
    
}

.photo{
    justify-self: center;
   padding-left: 20px;
   padding-right: 20px;
    
}

.second{
    font-family:'Courier New', Courier, monospace;
    padding-inline-end: 20px;
}

.plink{
    text-decoration: none;
    color: black;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects{
    font-family: 'vintage';
    text-align: center;
    margin-top: -75px;
}

.projectMenu{
    font-family: 'vintage';
    text-decoration: none;
    padding: 50px;
    text-align: center;
    color: black;
}

.speech {
    margin-top: 130px;
    margin-left: 130px;
    margin-bottom: -90px;
}


.point {
    margin-right: 100px;
    margin-top: 80px;
}


@font-face {
    font-family: 'winterCoffee';
    src: url('fonts/WinterCoffee.woff') format('woff');

}

@font-face {
    font-family: 'milkyBoba';
    src: url('fonts/MilkyBoba.woff') format('woff');
}

@font-face {
    font-family: 'creamPeach';
    src: url('fonts/CreamPeach.woff') format('woff');
}

@font-face {
    font-family: 'vintage';
    src: url('fonts/Perfectly Vintages Font by Keithzo.woff') format('woff');
}
